<head>
  <link rel="stylesheet" href="stylesheets/loginStyle.css" />
  <link rel="stylesheet" href="styles/style.css" />
</head>


<nav>
    <a href="/">Cancel</a>
    {{!-- <a href="/search">Search for Other Profiles</a> --}}
    {{!-- <a href="/edit-profile">Edit your Profile</a> --}}
    <h1>nav bar</h1>
</nav>

<hr>

<form action="/login" method="POST">
   <label> Username
      <input type="text" name="username">
   </label>
   <label> Password
      <input type="password" name="password">
   </label>

   <button type="submit">Submit</button>
</form>

{{#if errorMessage}}
   {{errorMessage}}
{{/if}}