<head>
  <link rel="stylesheet" href="stylesheets/universalStyle.css" />
  <link rel="stylesheet" href="stylesheets/loginStyle.css" />
  <link rel="stylesheet" href="styles/style.css" />
</head>

<div class="container">
 <nav class="header">
    <a href="/">Back</a>
    {{!-- <a href="/search">Search for Other Profiles</a> --}}
    {{!-- <a href="/edit-profile">Edit your Profile</a> --}}
    <h1 class="title">title</h1>
 </nav>

  <div >
    <form action="/login" method="POST">

      <label class="formgroup"> Username
          <input type="text" name="username">
      </label>

      <label class="formgroup"> Password
          <input type="password" name="password">
      </label>

    <button type="submit" class="submit">Submit</button>
      </form>
  </div>
 


</div>

{{#if errorMessage}}
   {{errorMessage}}
{{/if}}