<head>
  <link rel="stylesheet" href="stylesheets/searchStyle.css" />
  <link rel="stylesheet" href="styles/style.css" />
</head>

<nav>
    <form action="/search" method="post">

    <select id="parameter" name="parameters">
        <option value="firstParameter">firstParameter</option>
        <option value="secondParameter">secondParameter</option>
        <option value="thirdParamet
        rameter</option>
        <option value="location">location</option>
        <option value="capacity">capacity</option> 
    </select>

    <label for="search">Search</label>
    <input type="radio" name="search" id="search" placeholder="Search">
    <button type="submit">Search</button>
    </form>
</nav>