<head>
  <link rel="stylesheet" href="stylesheets/universalStyle.css" />
  <link rel="stylesheet" href="stylesheets/searchStyle.css" />
  <link rel="stylesheet" href="styles/style.css" />
</head>
<nav>
    <a href="/home">Back to Home</a>
    <a href="/logout">Log out</a>
    {{!-- <a href="/search">Search for Other Profiles</a> --}}
    {{!-- <a href="/edit-profile">Edit your Profile</a> --}}
    <h1>nav bar</h1>
</nav>

<section class="search">
    <form action="/search" method="post">

    <select id="parameter" name="parameters">
        <option value="firstParameter">firstParameter</option>
        <option value="secondParameter">secondParameter</option>
        <option value="thirdParamet
        rameter</option>
        <option value="location">location</option>
        <option value="capacity">capacity</option> 
    </select>

    <label for="search">Search</label>
    <input type="radio" name="search" id="search" placeholder="Search">
    <button type="submit">Search</button>
    </form>

</section>