<--luisa -->
<nav>
    <form action="/search" method="post">

    <select id="parameter" name="parameters">
        <option value="firstParameter">firstParameter</option>
        <option value="secondParameter">secondParameter</option>
        <option value="thirdParameter">thirdParameter</option>
        <option value="location">location</option>
        <option value="capacity">capacity</option> 
    </select>

    <label for="search">Search</label>
    <input type="radio" name="search" id="search" placeholder="Search">
    <button type="submit">Search</button>
    </form>
</nav>