<head>
   <link rel="stylesheet" href="stylesheets/universalStyle.css" />
  <link rel="stylesheet" href="stylesheets/signupStyle.css" />
  <link rel="stylesheet" href="styles/style.css" />
</head>

<div class="container">
   <nav class="header">
     <a href="/">back</a>
     <h1 class="title">nav bar</h1>
   </nav>
   <form action="/signup" method="POST">
      <label class="formgroup"> Username
         <input type="text" name="username">
       </label>
      <label class="formgroup"> Email
         <input type="email" name="email">
      </label>
      <label class="formgroup"> Password
         <input type="password" name="password">
      </label>
      <div id="profession"></div>
      <div class="choose">
       <legend class="legend">Are you a:</legend>
      
         <select name="userType" id="userType">
            <option value="entrepreneur">Entrepreneur</option>
            <option value="manufacturer"> Manufacturer</option>
         </select>
      </div>
      <input type="button" value="Sign In" class="submit">
      <div class="last">
          <div class="row">
            <p>I already have an account <a href="/login">Sign In</a></p>
         </div>
   </form>
</div>



{{#if errorMessage}}
   {{errorMessage}}
{{/if}}