<head>
  <link rel="stylesheet" href="stylesheets/signupStyle.css" />
  <link rel="stylesheet" href="styles/style.css" />
</head>

<nav>
    <a href="/">Cancel</a>
    {{!-- <a href="/search">Search for Other Profiles</a> --}}
    {{!-- <a href="/edit-profile">Edit your Profile</a> --}}
    <h1>nav bar</h1>
</nav>

<hr>

<form action="/signup" method="POST">
   <label> Username
      <input type="text" name="username">
   </label>
   <label> Email
         <input type="email" name="email">
   </label>
   <label> Password
      <input type="password" name="password">
   </label>
   <hr>
   <div id="profession"></div>
  <legend>Are you a </legend>

    <div>
      <select name="userType" id="userType">
         <option value="entrepreneur">Entrepreneur</option>
         <option value="manufacturer"> Manufacturer</option>

      </select>

    </div>

   <button type="submit">Signup</button>
</form>

{{#if errorMessage}}
   {{errorMessage}}
{{/if}}