<head>
   <link rel="stylesheet" href="stylesheets/universalStyle.css" />
  <link rel="stylesheet" href="stylesheets/signupStyle.css" />
  <link rel="stylesheet" href="styles/style.css" />
</head>
     

<div class="container">
<a href="/" class="back">Back</a>
   <nav class="header">
     <h1 class="title">Sign up</h1>
   </nav>
   <form action="/signup" method="POST">
      <label class="formgroup"> 
         <input type="text" name="username" placeholder="Username">
       </label>
      <label class="formgroup"> 
         <input type="email" name="email" placeholder="Email">
      </label>
      <label class="formgroup"> 
         <input type="password" name="password" placeholder="Password">
      </label>
      <div id="profession">
      <div class="choose">
       <legend class="legend"> Create account as</legend>
      
         <select name="userType" id="userType">
            <option value="entrepreneur">Entrepreneur</option>
            <option value="manufacturer"> Manufacturer</option>
         </select>
      </div>
      <button class="submit" type="submit">Sign up</button>
   </form>
      <div class="last">
          <div>
            <p>I already have an account <a class="back" href="/login">Log In</a></p>
         </div>
      </div>
      </div>
</div>
<div class="error">
   {{#if errorMessage}}
      {{errorMessage}}
   {{/if}}
</div>

