<head>
  <link rel="stylesheet" href="/stylesheets/universalStyle.css" />
  <link rel="stylesheet" href="/stylesheets/messageStyle.css" />
  <link rel="stylesheet" href="/styles/style.css" />
</head>



  <nav class="nav-message">
    <a href="/home">Back to Home</a>
    <h1>nav bar</h1>
    <a href="/profile">Back to Profile</a>
  </nav>  


<hr>
<section id="chat-page">
    <div class="chatbox"><h3>Interest Chat</h3>
    <section id = "chat-section">
        <div id="message">
          <p><strong>Chat between...</strong></p>
           {{#each participants}}
           <p><strong>{{this.username}}</strong></p>
           {{/each}}
        </div>
<hr>

        <div id="conversation" >
            {{#each messages}}
            <p> <b>{{this.author.username}}</b>  {{this.content}}</p>
            {{/each}}
        </div>

    </section>
    <div>
    <form id = "chat-form" action="/chat/{{id}}/message" method="post">
         <input class = "input-chat-bar" type="text" placeholder="Write your message here" name="content">
         <button id = "chat-button" type="submit">send</button> 
    </form>
    </div>
</div>
</section>
<hr>
