<nav>
    <a href="/">Back to Home</a>
    {{!-- <a href="/search">Search for Other Profiles</a> --}}
    {{!-- <a href="/edit-profile">Edit your Profile</a> --}}
    <h1>Yo Yo Yo I'm a nav bar whats up y'all</h1>
</nav>
<hr>
<h1>Hello, {{user.username}}</h1>
<section class="profile">
    <div class="edit-profile"> <a href="/edit-profile">Edit profile</a></div>
    <section class="main-card">

        <div class="profile-img">
            <img src="{{imgUrl}}" alt="Profile Picture">
        </div>

            <div class="name-box">
                <h1>ayyy i'm a name</h1>
                <h3>contacts :D</h3>
            </div>
    
    </section>

    <section class="about">

        <div class="description">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint quos quas, in tempora, exercitationem, quidem officia
               repudiandae ipsum odit culpa minus assumenda. Eveniet dolorum necessitatibus ratione ipsam amet, esse sequi?<p>
        </div>

            <div class="profile-parameters">

                    <h3>ayy whats poppin i'm the first paramter</h3>

                    <h3>second parameter</h3>

                    <h3>third parameter</h3>


            </div>
    </section>

</div>