<head>
  <link rel="stylesheet" href="stylesheets/homeStyle.css" />
  <link rel="stylesheet" href="styles/style.css" />
</head>

<nav>

</nav>
<div id="logout-profile">

<button id="logout"> <a href="/logout">Log out</a> </button>
<button id="profile"> <a href="/profile">Profile</a> </button>

<h1>nav bar</h1>

</div>
<hr>

<h1>{{appTitle}} </h1>
<p>Welcome {{user.name}}! Short description here</p>
<br />
<p>Search here, or scroll for all existing profiles</p>

<section id="search">
    <form action="/search" method="post">  {{! nav bar to search  }}
    <div>
      <input type="radio" id="entrepreneur" name="entrepreneur" value="entrepreneur">
      <label for="entrepreneur">Entrepreneur</label>
    </div>

    <div>
      <input type="radio" id="manufacturer" name="manufacturer" value="manufacturer">
      <label for="manufacturer">Manufacturer</label>
    </div>
    <select id="parameter" name="parameters"> {{! the filters to help search}}

        <option value="firstParameter">firstParameter</option>
        <option value="secondParameter">secondParameter</option>
        <option value="thirdParameter">thirdParameter</option>
        <option value="location">location</option>
        <option value="capacity">capacity</option> 
    </select>

    <label for="search">Search</label>
    <input type="text" name="search" id="search" placeholder="Search">
    <button type="submit">Search</button>
    </form>

    <hr>

    {{#each users}}
        <p>{{this.name}}</p>
        <a href="/profile/{{_id}}">View profile</a>
    {{/each}}
</section>