<h1>{{appTitle}} </h1>
<p>Welcome {{user.name}}! Short description here</p>
<div id="signup-login">

<button id="logout"> <a href="/logout">Log out</a> </button>
<button id="profile"> <a href="/profile">Profile</a> </button>

</div>



<nav>
    <form action="/search" method="post">  {{! nav bar to search  }}
    <div>
      <input type="radio" id="entrepreneur" name="entrepreneur" value="entrepreneur">
      <label for="entrepreneur">Entrepreneur</label>
    </div>

    <div>
      <input type="radio" id="manufacturer" name="manufacturer" value="manufacturer">
      <label for="manufacturer">Manufacturer</label>
    </div>
    <select id="parameter" name="parameters"> {{! the filters to help search}}

        <option value="firstParameter">firstParameter</option>
        <option value="secondParameter">secondParameter</option>
        <option value="thirdParameter">thirdParameter</option>
        <option value="location">location</option>
        <option value="capacity">capacity</option> 
    </select>

    <label for="search">Search</label>
    <input type="text" name="search" id="search" placeholder="Search">
    <button type="submit">Search</button>
    </form>
</nav>