<head>
  <link rel="stylesheet" href="stylesheets/indexStyle.css" />
  <link rel="stylesheet" href="styles/style.css" />
</head>


<h1>{{appTitle}} </h1>
<p>Before Home</p>
<div id="signup-login">

<button id="signup"> <a href="/signup">Sign Up</a> </button>
<button id="login"> <a href="/login">Log in</a> </button>

</div>



{{!-- <nav>
    <form action="/search" method="post">  {{! nav bar to search  }}

    <select id="parameter" name="parameters"> {{! the filters to help search}}

        <option value="firstParameter">firstParameter</option>
        <option value="secondParameter">secondParameter</option>
        <option value="thirdParameter">thirdParameter</option>
        <option value="location">location</option>
        <option value="capacity">capacity</option> 
    </select>

    <label for="search">Search</label>
    <input type="text" name="search" id="search" placeholder="Search">
    <button type="submit">Search</button>
    </form>
</nav> --}}