<head>
  <link rel="stylesheet" href="stylesheets/universalStyle.css" />
  <link rel="stylesheet" href="stylesheets/indexStyle.css" />
  <link rel="stylesheet" href="styles/style.css" />
</head>

<div class="container">
<h1 class="apptitle">{{appTitle}} </h1>

  <h2 class="title">Wellcome</h2>
  <div id="signup-login">
    <div class="rotation">
      <button id="signup" class="submit"> <a href="/signup">Sign Up</a> </button>
      <button id="login" class="submit"> <a href="/login">Log in</a> </button>
    </div>
    <div class="last">
      <p class="legend">Already logged in?</p>
      <button class="userType"><a href="/home" >Home</a></button>
    </div>


  </div>
</div>



