
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{appTitle}}</title>
    <link rel="stylesheet" href="/stylesheets/layoutStyle.css" />
  </head>

  <body>

    {{{body}}}

    <script src="/js/script.js"></script>
  </body>
  <hr>
<footer>
  <section class="foot">
    <ul>
      <li>

        <h5>About</h5>

      </li>
      <li>
        <h5>Contact</h5>

      </li>
      <li>
        <h5></h5>

      </li>
   </ul>
  </section>

</footer>
</html>