{{!-- CHANGES MADE IN THIS FILE BY JOHN, PLEASE DO NOT MAKE CHANGES ON THIS FILE! --}}
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{appTitle}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>

    {{{body}}}

    <script src="/js/script.js"></script>
  </body>
  <hr>
<footer>
  <h5>Hey hey, I'm a footer</h5>
  <h5>here are our social medias or somethin like that</h5>
  <h5></h5>
  <h5>flags maybe? i dont know what people put in footers<h5>
</footer>
</html>