<h1>Search Results</h1>


{{!-- post the result of search --}}
<div>
{{#each users}}
<p>{{this.name}}</p>
<a href="/profile/{{_id}}">View profile</a>
<form action="/chat/create/{{id}}" method="post">
  <button>Chat with user</button>
</form>


{{/each}}
  
</div>