body {
    background-image: url(../images/backgroundBlue.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.container{
    width: 500px;
    height: 400px;
    margin: auto;
    margin-top: 200px;
    padding: 5px;
    backdrop-filter: blur(17px) saturate(200%);
    -webkit-backdrop-filter: blur(17%) saturate(200%);
    background-color: rgba(190, 190, 190, 0.44);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    border-radius: 10px;
    margin-bottom: 250px;
  }
.title{
    text-align: center;
    color: solid black;
    font-weight: 400;
    margin-top: 7px;
}
.submit{
    background: #C0DED9;
    padding: 7px 0; 
    outline: none; 
    font-size: 18px;
    width: 90%;
    margin: 5%;
    color: black;
    border-radius: 5px;
    border: 1px solid  black;
}
.submit a{
    text-decoration: none;
    color: black;
}
.back{
    text-decoration: none;
    color: blue;
 }
.userType{
    margin-left: 2%;
    background-color: #C0DED9;
    border-radius: 5px;
    border: 1px solid  black;
    font-size: 14px;
    height: 30px;
}
.userType a{
    text-decoration: none;
    color: black;
} 
.last{
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-top: 7%;
}
.rotation{
    display: flex;
    justify-content: space-around;
    margin-top: 7%; 
}
.apptitle{
    text-align: center;
    margin-bottom: 10%;
}