
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:100,300,700');

* {
    font-family: Roboto;
}

.footer{
    display: flex;
    justify-content: space-around;
    /* padding: 10%; */
}
.footer h5{
    display: flex;
    flex-direction: row;
}

.foot{
    display: flex;
    justify-content: space-around;
    padding: 2px;
   /*  margin-bottom: 2%; */
}