
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:100,300,700');

* {
    font-family: Roboto;
}

.footerlayout{
    display: flex;
    justify-content: space-around;
}
.footerlayout li{
    display: flex;
    flex-direction: row;
    
}