body{
  background: url(./beautiful-park.jpg);
  background-color: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

form {
  color: 15px;
} */

.container{
  width: 330px;
}