
.title{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #C0DED9;
}
.chatbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #3B3A30;
}
#chat-section {
    margin-top: 5vw;
    border-style: solid;
    border-width: 2px;
    width: 480px;
    flex-direction: column;
    justify-content: center;
    margin-left: 26vw;   
    color: #3B3A30;
}
#chat-form {
    padding: 7px;
   margin-right: 10vw; 
    border-style: none;
    border-width: 2px;
    color: #3B3A30;
}
#chat-button {
    margin-right: 9px;
    background-color: #C0DED9;
    border: none;
    border-radius: 6%;
    padding: 4px;
}
#message {
    border: none;
    color: #3B3A30;
    margin: -1vw;
}
#conversation {
    color: #3B3A30;
    text-align: left;
}
.input-chat-bar {
    margin-left: 11vw;
    width: 32.7vw;
}
.nav-message {
    display: flex;
    height: 8vh;
    justify-content: space-around;
}
.nav-message a {
    width: 12.5vw;
    /* height: 6vh; */
    text-decoration: none;
    margin-top: 3vh;
}
#chat-page {
    height: 90vh;
    margin-left: 5vw;
    margin-right: 5vw;
}