

.nav-profile {
    display: flex;
    height: 6vh;
    justify-content: space-between;
    background-color: #B2C2BF;
}
.nav-profile hidden {
    width: 15vw;
}
.nav-profile a {
    width: 12.5vw;
    /* height: 6vh; */
    text-decoration: none;
    margin-top: 2vh;
    color: #3B3A30;
}
.backHome{
    margin-left: 5%;
    margin-top: 10%;
}
.title{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 18px; 
    background-color: #C0DED9;
}
.well{
    margin-left: 3%;
    margin-top: 1%;
}
.profile {
    height: 80vh;
    margin-left: 5vw;
    margin-right: 5vw;
}
.edit-profile {
    display: flex;
    justify-content: end;
    margin-top: -3vh;
}
.edit-profile a{
    text-decoration: none;
    color: black;
}
.main-card {
    display: flex;
    justify-content: start;
    text-align: left;
    margin-top: 4%;
    margin-bottom: 5vh;
}
.main-card .profile-img{
    display: flex;
    justify-content: start;
    text-align: start;
    margin-right: 2vw;
}
.main-card h1, h3{
    height: 1vw;
    margin-top: 7.5px;
    margin-bottom: 7.5px;  
}

img{
    border: black;
    height: 15vh;
    width: fit-content;
    margin-right: 1vw;
}
.name-box{
    display: flex;
    flex-direction: column;
}

.name-box h4 {
    margin-bottom: 2px;
}

.about {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}
.description{
    display: flex;
    flex-direction: column;
    text-align: center;
    border: #3B3A30 solid .5px;
    margin-bottom: 5vh;
}
/* .descrip{
    display: flex;
    border-color: solid black;
    border-style: double;
    width: 40%;
    margin-top: -1%;
    text-align: center;
    justify-content: center;

} */
.parameters{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}

.parameter-box {
    width: 25vw;
}
.box{
    border-color: solid black;
    border-style: double;
    width: 20%;
}