@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:100,300,700');

* {
    font-family: Roboto;
}



.search-results-container {

    display: flex;
    justify-content: center;
    padding: 20px;
    padding-right: 30px;

}


#img-name-box {
    display: flex;
    justify-content: start;
    align-items: flex-start;
    text-align: start;
    margin-left: 5vw;
    margin-right: 10vw;
}


.search-name-h2 {
font-size: 40px;

}

.results-button-link {

    padding-top: 100px;
    padding-left: 70px;
    margin: 20px;
    text-align: center;
    
}

#chat-button {
    border: none;
    border-radius: 3%;
    padding: 10px;
    background-color: #3B3A30;
    color: white;
    font-family: Roboto;
    width: 109.27px;

    
}

#results-link {
    color: black;
    text-decoration: none;
}

.profile-button {
    width: 109.27px;
    border: none;
    border-radius: 3%;
    padding: 10px;
    background-color: #C0DED9;
    color: #3B3A30;
    margin-bottom: 5px;
}

img {
    height: 12.5vh;
    width: fit-content;
    margin-right: 10px;
}
