@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:100,300,700');

* {
    font-family: Roboto;
}



.search-results-container {

    display: flex;
    justify-content: center;
    padding: 20px;
    padding-right: 30px;
  
    
    }




.search-profile-img {
    border-style: solid;
    border: 2px;
    color:#3B3A30;
}

.search-name-h2 {
font-size: 40px;

}

.results-button-link {

    padding-top: 100px;
    padding-left: 70px;
    margin: 20px;
    text-align: center;
    
}

#chat-button {
    border: none;
    border-radius: 3%;
    padding: 10px;
    background-color: #3B3A30;
    color: white;
    font-family: Roboto;
    
}

#results-link {
    color: black;
    text-decoration: none;
}

.profile-button {
    width: 109.27px;
    border: none;
    border-radius: 3%;
    padding: 10px;
    background-color: #C0DED9;
    color: #3B3A30;
}


